<topnav> </topnav>
 <section class="content-wrapper">
        <div class="header-bottombelt">
           <div class="container-fluid">
                <div class="row">
                    <div class="billing_title">
                        <i class="email-notification-icon"></i>
                        <h1>Email Notification</h1>
                    </div>
               </div>
           </div>
       </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="email-block">
                        <div class="email-logo">
                            <img src="img/logo_viewfoo.png">
                        </div>
                        <div class="thanks-box">
                            <h2>Thank you for trying ViewFoo Pro</h2>
                            <a>http://www.viewfoo.pro/gallerylen/activate</a>
                            <p>Please click above link to activate your new ViewFoo Pro 
                              <br>account. After you activate your account you will be ready
                              <br>to start your FREE trial.</p>
                            <p class="thanking-text">Thank you, <br>
                              ViewFoo Pro team</p>
                        </div>
                        <div class="copyright-note">
                            <p class="copyright">@ Copyright 2016 ViewFoo LLC. All Rights Reserved.</p>
                            <p>You are receiving this email based on a recent activity on viewfoo.pro</p>
                            <p>NOTE: Please do not try reply to this email - we are not able to respond to messages
                            <br>sent to this address. To contact us or send feedback, please <a href="">click here.</a></p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>