<div class="main_bg"></div>
<div class="main">
    <div class="center_box"> 
        <div class="row">
            <div class="col-md-12">
                <div class="signup-logo">

                    <a href=""><img src="img/logo_viewfoo.png" alt=""></a>

                </div>
            </div>
            <div class="col-md-12">
                <div class="title_block">
                    <h4>User activation</h4>                      
                </div>
            </div>
            <div class="col-md-12">
                <div class="signin_form">
                    {{message}}                    
                </div>
            </div>
        </div> 
    </div>

</div>